<div class="bckg_page ">
    <div id="header">
        <div id="logo"><a href="#"></a></div>
        <div id="exit"><a class="exit" href="#" data-bind="click : exit"></a></div>
    </div>
    <div id="content" class="start_up">
        <div class="title_form"><span class="title">Y&ouml;r - Demo version</span></div>
        <div class="complete">
            <div class="congr">
                <div class="full_center">
                    <p>This is y&ouml;r demo version</p>
                    <div class="inputs button">
                        <input data-bind="click : next" type="submit" class="button_inp" value="Back to dashbord" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>