<div id="myModal" class="modal hide fade container_modal" >
<div class="modal_content">
    <h3>Guides</h3>
    <div class="members_sum" style="width : 850px; margin: 0 auto; display: block;">
        <p class="h3">
            <span class="value_sum" data-bind="text : title"></span>
        </p>
        <iframe class="video_welcome" data-bind="attr : { src : url, height : height, width : width }" style="margin: 0 auto; display: block;"  frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="clear"></div>
    <br/>
    <br/>
    <a href="#" class="butt edit" style="float:right" data-dismiss="modal">Close</a>
</div>
</div>