<div class="bckg_page ">
    <div id="header">
        <div id="logo"><a href="#"></a></div>
        <div id="exit"><a class="exit" href="#" data-bind="click : exit"></a></div>
    </div>

    <div id="content" class="registr_page">
        <div class="title_form"><span class="title">Y&ouml;r - Start-up Wizard</span></div>
        <div class="bckgr_full">
            <div id="left_content_register">
                <div class="title_left_content">
                    <span class="image"></span>
                    <span class="title_left_main">Registration Wizard</span>
                </div>

                <div id="form_registration">
                    <form action="" method="" id="reg_form" data-bind="with : user">
                        <div class="left_form">
                            <div class="inputs">
                                <label for="name" class="name_field_input">First name</label>
                                <input size="30" maxlength="30" data-bind="value : firstName" type="text" value="" id="name" class="input_field"/>
                            </div>
                            <div class="inputs">
                                <label for="lname" class="name_field_input">Last name</label>
                                <input size="30" maxlength="30" data-bind="value : lastName" id="lname" type="text" value="" class="input_field"/>
                            </div>
                            <div class="inputs">
                                <label for="address" class="name_field_input">Address</label>
                                <input size="30" maxlength="30" data-bind="value : address1" id="address" type="text" value="" class="input_field"/>
                            </div>
                            <div class="inputs">
                                <label class="name_field_input"></label>
                                <input size="30" maxlength="30" data-bind="value : address2" type="text" value="" class="input_field"/>
                            </div>
                            <div class="inputs">
                                <label class="name_field_input"></label>
                                <input size="20" maxlength="20" data-bind="value : address3" type="text" value="" class="input_field"/>
                            </div>
                            <div class="inputs quest" data-bind="validationOptions: { insertMessages: false }">
                                <label for="pcode" class="name_field_input">Postcode</label>
                                <input size="4" maxlength="4" data-bind="value : postcode1"  id="pcode" type="text" value="" class="input_field_small input_field first"/>
                                <input size="4" maxlength="4" data-bind="value : postcode2" type="text" value="" class="input_field_small input_field second"/>
                               <!--  <span class="validationMessage" data-bind="validationMessage: postcode1">This field is required.</span> -->
                                <span class="validationMessage" data-bind="visible: (!postcode2.isValid() || !postcode1.isValid())&& $parent.fistTime()">This field is required.</span>
                            </div>
                            <div class="inputs">
                                <label  for="email" class="name_field_input">Email</label>
                                <input size="80" maxlength="80" data-bind="value : email" id="email" type="text" value="" class="input_field"/>
                            </div>
                            <div>
                                <span data-bind="visible : dateInvalid" class="validationMessage" style="float:left">Please enter a valid date</span>
                                <div class="clear"></div>
                            </div>
                            <div class="inputs" id="date">
                                <label for="dob" class="name_field_input">D/O/B</label>
                                <!-- <input   maxlength="20" style="width : 200px" data-bind="datepicker : dateOfBirthday" id="dob" type="text" value="" class="input_field"/> -->
                                 <input  maxlength="2" type="text" placeholder="DD" data-bind="value : day" class="input_norm date">
                                            <input  maxlength="2" type="text" placeholder="MM" data-bind="value : month" class="input_norm month">
                                            <input  maxlength="4" type="text" placeholder="YYYY" data-bind="value : year"  class="input_norm year">
                            </div>
                            <div class="inputs">
                                <label for="occup" class="name_field_input">Occupation</label>
                                <input size="30" maxlength="30" data-bind="value : occupation" id="occup" type="text" value="" class="input_field"/>
                            </div>
                        </div>
                        <div class="right_form">
                            <div class="inputs">
                                <label for="username" class="name_field_input">Username</label>
                                <input maxlength="30"  data-bind="value : username, validationElement: username" id="username" type="text" value="" class="input_field" placeholder="desired username"/>
                            </div>
                            <div class="inputs">
                                <label for="pass" class="name_field_input">Password</label>
                                <input  maxlength="30" data-bind="value : password" id="pass" type="text" value="" class="input_field" placeholder="desired password"/>
                            </div>
                            <div class="inputs button">
                                <input data-bind="click : $parent.getCode" type="submit" class="button_inp" value="Purchase activation code" />
                            </div>
                            <div class="title_active_code">Insert your activation code.</div>
                            <div class="inputs active_code">
                                <input size="5" maxlength="5"  data-bind="value : $parent.code1" type="text" value="" class="input_field_small_right input_field"/>
                                <input  size="5" maxlength="5"   size="5" maxlength="5"  data-bind="value : $parent.code2" type="text" value="" class="input_field_small_right sec input_field"/>
                                <input  size="5" maxlength="5"   data-bind="value : $parent.code3" type="text" value="" class="input_field_small_right sec input_field"/>
                                <input  size="5" maxlength="5"   data-bind="value : $parent.code4" type="text" value="" class="input_field_small_right sec input_field"/>
                                <span style="display : block" class="validationMessage" data-bind="text : $parent.activateError, visable : $parent.activateError().length">
                            </div>
                            <div class="inputs button">
                                <input data-bind="click : $parent.activate" type="submit" class="button_inp" value="Click here to activate" />
                            </div>
                            <div class="inputs ">
                                <input data-bind="checked : $parent.agree" type="checkbox" id="agree" class="button_rad"/>
                                <label style="display : inline" class="terms_conditions" for="agree">I agree to the terms & conditions.</label>
                            </div>
                            <div class="inputs button">
                                
                                <input data-bind="click : $parent.showTerms" type="submit" class="button_inp_terms" value="Read our terms & conditions" />
                            
                            <!--  <a data-bind="" href="/pages/misc/termsConditions.html" class="butt edit" target="_balank" style="display : block; width: 270px;">Read our terms & conditions</a> -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        <div id="right_content_register">
            <div class="title_video_text_right_content">
                <span class="title_right_main">How to?</span>
                <div class="block_title_text_right">
                    <span class="title_block">How to fill in this form...</span>
                    <span class="text_block">Input all your details in the fields opposite. Please note; all fields are mandatory.</span>
                </div>
                <div class="block_title_text_right">
                    <span class="title_block">How to activate...</span>
                    <span class="text_block">Place your activation code in the input field and read the terms and conditions. If you are happy to then proceed, agree to the terms and click the button to activate.</span>
                </div>
                <div class="block_title_text_right">
                    <span class="title_block">How to purchase an activation code...</span>
                    <span class="text_block">Simply click the 'Purchase an activation code' button and our system will take you through to  a secure payment page.</span>
                </div>
                <div class="video_youtube">
                    <span class="title_right_main">Help Video</span>
                    <iframe  class="video_welcome" width="225" height="155" src="http://www.youtube.com/embed/XGSy3_Czz8k"></iframe>
                </div>
            </div>
        </div>
         </div>
    </div>


    <div id="footer">
    </div>
</div>