.selectbox {
	vertical-align: middle;
	cursor: pointer;
}
.ui-datepicker-trigger{
    margin-left: 5px;
}
.width215 .selectbox .select {
    width: 215px;
}
.selectbox .select {
	width: 40px;
	/*height: 20px;*/
	padding: 3px 20px 3px 5px;
	font: 11px Arial, Tahoma, sans-serif;
	color: #333;
	text-shadow: 1px 1px #FFF;
	background: #f5f5f5 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC) repeat-x;
	border: 1px solid #4b4b4b;
	border-bottom-color: #b3b3b3;
	border-radius: 8px;
	box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,0.1);
}
.selectbox .select:hover {
	background-color: #E6E6E6;
	background-position: 0 -10px;
}
.selectbox .select:active {
	background: #f5f5f5;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.15);
}
.selectbox.focused .select {
	border: 1px solid #5794BF;
}
.selectbox .select .text {
	display: block;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.selectbox .trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	height: 100%;
	border-left: 1px solid #CCC;
    background-image: linear-gradient(bottom, rgb(108,108,108) 34%, rgb(159,159,159) 67%);
    background-image: -o-linear-gradient(bottom, rgb(108,108,108) 34%, rgb(159,159,159) 67%);
    background-image: -moz-linear-gradient(bottom, rgb(108,108,108) 34%, rgb(159,159,159) 67%);
    background-image: -webkit-linear-gradient(bottom, rgb(108,108,108) 34%, rgb(159,159,159) 67%);
    background-image: -ms-linear-gradient(bottom, rgb(108,108,108) 34%, rgb(159,159,159) 67%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.34, rgb(108,108,108)),
        color-stop(0.67, rgb(159,159,159))
    );
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
.selectbox .trigger .arrow {
	position: absolute;
	top: 8px;
	right: 7px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #ffffff;
	width: 0;
	height: 0;
	overflow: hidden;
	opacity: 0.85;
	filter: alpha(opacity=30);
}
.selectbox:hover .arrow {
	opacity: 1;
	filter: alpha(opacity=100);
}

.selectbox .dropdown {
	top: 25px;
	width: 100%;
	margin: 0;
	padding: 3px 0;
	background: #FFF;
	border: 1px solid #C6CBD0;
	border-radius: 4px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.2);
	font: 12px/12px Arial, Tahoma, sans-serif;
    border-radius: 4px;
}
.selectbox li {
	padding: 5px 7px 6px;
	color: #231F20;
    text-align: left;
}
.selectbox li.selected {
	background: #A3ABB1;
	color: #FFF;
}
.selectbox li:hover {
	background: #08C;
	color: #FFF;
}
.selectbox li.disabled {
	color: #AAA;
}
.selectbox li.disabled:hover {
	background: none;
}
.select_top .selectbox {
    margin-top: 4px;
}

/*checkbox*/
/*.checkbox,*/
.radio {
    width: 19px;
    height: 18px;
    padding: 0 5px 0 0;
    background: url(../img/checkboxone.png) no-repeat;
    display: inline-block;
    clear: left;
    /*float: left;*/
}
.radio {
    background: url(../img/radioone.png) no-repeat;
}
/*checkbox*/