html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, *  {
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html { font-family: Arial, sans-serif;}

strong {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
h1 {
    font-size: 32px;
    font-weight: bold;
    color: #757575;
    margin: 10px 0;
}
h2 {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0;
}
h4 {
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 5px 0;
}

body
{
   padding: 0;
    margin: 0 auto;
}
.body {
    background: url("../img/bkg.png") repeat scroll 50% 0 transparent;
}
.bckg_page{
    /*width: 1024px;*/
    margin: 0 auto;
    background: url("../img/bkg.png") repeat scroll 50% 0 transparent;
    padding-bottom: 30px;
}

.nobackground {
    background: none;width: auto; height: auto;
}

#header
{
    height: 95px;
    width: 966px;
    display: block;
    overflow: hidden;
}

#logo
{
    height: 95px;
    float:left;
}

#logo a
{
    width: 84px;
    height: 46px;
    display: inline-block;
    margin: 15px 0 0 15px;
    background: url("../img/logo.png") no-repeat scroll 0 0 transparent;
}

#exit
{
    height: 95px;
    float: right;
}

#exit a.exit
{
    width: 46px;
    height: 30px;
    display: inline-block;
    margin: 0;
    /*background: url("../img/exit.png") no-repeat scroll 0 0 transparent;*/
}

#content{
    overflow: hidden;
}
.content {
    width: 966px;
    background: url("../img/content_bkg.png") no-repeat scroll 0 0 transparent;
    margin: 0 auto;
}
label {
    cursor: pointer;
}

.fleft {
    float: left;
}
.text-left {
    text-align: left;
}

.italic {
    font-style: italic;
}
.small {
    font-size: 14px;
}
/*registration wizard*/

.start_up {
    width: 966px;
    background: url("../img/content_bkg.png") no-repeat scroll 0 0 transparent;
    margin: 0 auto;
    padding-bottom: 60px;
    margin-bottom: 30px;
}
.registr_page {
    width: 966px;
    background: url("../img/content_bkg.png") no-repeat scroll 0 0 transparent;
    margin: 0 auto;
    padding-bottom: 0px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
small {
    font-size: 10px;
}
.overflo {
    overflow: hidden;
}
.white {
    color: #fff;
}

.vertical {
    vertical-align: middle;
}
.title_form
{
    color: #fff;
    width: 100%;
    font-weight: bold;
    z-index: 2;
    overflow: hidden;
    text-align: center;
}

.title_form .title
{
    display: block;
    padding: 12px 0;
    text-shadow: 2px 0 1px #000000;
    margin: 0 auto;
}

#left_content_register
{
    width: 680px;
    height: 551px;
    background: #f8f8f8;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    float: left;
    margin-left: 11px;
}
.left_content {
    width: 680px;
    height: 547px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    float: left;
    margin-left: 11px;
}
.complete {
    width: 680px;
    height: 547px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.title_left_content
{
    width: 100%;
    height: 118px;
    background: url("../img/shadow_bottom.png") no-repeat scroll bottom center transparent;
}

.image
{
    background: url("../img/head.png") no-repeat scroll 0 0 transparent;
    width: 74px;
    height: 66px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

.title_left_main
{
    color: #000;
    font-weight: bold;
    display: inline-block;
    float:left;
    font-size: 43px;
    padding-left: 20px;
    padding-top: 27px;
}

#right_content_register{
    width: 253px;
    height: 536px;
    float: left;
    background: #f8f8f8;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-left: 11px;
    padding-bottom: 15px;
}
.right_adress{
    width: 225px;
    float: left;
    padding: 13px 13px 17px 13px;
    background: #f8f8f8;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-left: 11px;
    font-size: 13px;
}
.right_adress .butt_add{
    width: 100%;
    margin: 20px 0 30px 0;

}
.right_adress h3{
    font-size: 26px;
    font-weight: bold;
     margin-bottom: 15px;
}

#right_content_register .title_right_main
{
    color: #000;
    font-weight: bold;
    display: inline-block;
    font-size: 28px;
    padding-top: 20px;
    padding-left: 12px;
}
 .video_welcome {
     margin-left: 15px;
     margin-bottom: 10px;
 }
#right_content_register .block_title_text_right
{
    width: 226px;
    margin-top: 5px;
    overflow: hidden;
}

#right_content_register .block_title_text_right .title_block
{

    color: #000;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
    text-shadow: 0 0 1px #DDDDDD;
}

#right_content_register .block_title_text_right .text_block
{

    color: #000;
    display: inline-block;
    font-size: 12px;
    text-shadow: 0 0 1px #DDDDDD;
}

#right_content_register .video_youtube .video
{
    background: url("../img/video.png") no-repeat scroll 0 0 transparent;
    width: 226px;
    height: 155px;
    margin-top: 8px;
}

#form_registration form .left_form
{
    width: 340px;
    float:left;
    margin-top: 30px;
    margin-left: 20px;
}

#form_registration form .right_form
{
    width: 305px;
    float: right;
    margin-top: 30px;
    margin-right: 10px;
}
.grey_right{
    float: right;
    margin-top: 30px;
    margin-right: 10px;
    background-color: #d6d6d6;
    width: 260px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px 20px 0 20px;
}
.grey_right p{
    margin-bottom: 20px;
    font-weight: bold;
}
.klichn {
    font-size: 18px;
    margin-bottom: 10px;
}
.klichn img{
    margin-right: 10px;
}
 .label_cont {
     width: 70px;
     display: inline-block;
     font-weight: bold;
     font-size: 13px;
     margin-right: 15px;
 }
 .contacts {
     overflow: hidden;
     margin-bottom: 20px;
 }
 .contacts .adress{
     width: 140px;
 }
.inputs {
    margin-bottom: 10px;
}

.left_form label {
    font-size: 14px;
    color: #000;
    text-shadow: 1px 0px 1px #ccc;
    display: inline-block;
    width: 85px;
}
.right_form label {
    font-size: 14px;
    color: #000;
    text-shadow: 1px 0px 1px #ccc;
    display: inline-block;
    width: 75px;
}


.input_field{
    border-bottom: 1px solid #e0e0e0;
    padding-left: 8px;
    font-size: 14px;
    text-shadow: 1px 0px 1px #ccc;
    width: 240px;
    border-top: 1px solid #a9a9a9;
    height: 33px;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;


    box-shadow: 0px 1px 1px #999 inset;
    -webkit-transition: border linear 0.3s, box-shadow linear 0.3s;
    -moz-transition: border linear 0.3s, box-shadow linear 0.3s;
    -o-transition: border linear 0.3s, box-shadow linear 0.3s;
    transition: border linear 0.3s, box-shadow linear 0.3s;
}
.input_field:focus {
    border-color: #99b70a;
    box-shadow: 0 0 1px 1px #99b70a inset, 0 0 2px #99b70a;
    outline: 0 none;
}
.input_norm {
    border-bottom: 1px solid #e0e0e0;
    padding-left: 8px;
    font-size: 14px;
    text-shadow: 1px 0px 1px #ccc;
    border-top: 1px solid #a9a9a9;
    height: 33px;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px #999 inset;
    -webkit-transition: border linear 0.3s, box-shadow linear 0.3s;
    -moz-transition: border linear 0.3s, box-shadow linear 0.3s;
    -o-transition: border linear 0.3s, box-shadow linear 0.3s;
    transition: border linear 0.3s, box-shadow linear 0.3s;
}
.input_norm:focus {
    border-color: #99b70a;
    box-shadow: 0 0 1px 1px #99b70a inset, 0 0 2px #99b70a;
    outline: 0 none;
}
.date {
    width: 60px;
    margin-right: 11px;
}
.date_year {
    width: 90px;
}

#form_registration form .right_form .inputs.button
{
    margin-top: 20px;
}

#form_registration form .right_form .inputs input.input_field
{
    width: 210px;
}

#form_registration form .left_form .inputs input.input_field.input_field_small
{
    width: 34.5%;
}

#form_registration form .right_form .title_active_code
{
    font-weight: bold;
    font-size: 15px;
    margin-top: 18px;
}

#form_registration form .right_form .inputs.active_code
{
    margin-top: 13px;
}

#form_registration form .right_form .inputs .input_field.input_field_small_right
{
    width: 60px;
}

#form_registration form .right_form .inputs .input_field.input_field_small_right.sec
{
    margin-left: 10px;
}

/*  /registration wizard*/

/*start up wizard*/

.title_right_main.start_wiz
{
    width: 150px;
}

#right_content_register .block_title_text_right .title_block.per_inf_t
{
    font-size: 13px;
    width: 75px;
    float: left;
    margin-top: 16px;
}

#right_content_register .block_title_text_right .text_block.per_inf_txt
{
    font-size: 13px;
    width: 95px;
    float: left;
    margin-top: 16px;
}

#left_content_register .title_left_content .title_left_main.start_title_main{
    color: #000;
    font-weight: bold;
    display: block;
    float:none;
    text-align: center;
    font-size: 43px;
    padding: 0 80px;
    padding-top: 19px;
}
#left_content_register .title_left_content .title_left_main.start_title_reg{
    color: #000;
    font-weight: bold;
    display: block;
    float:none;
    text-align: center;
    font-size: 43px;
    padding: 0 60px;
    padding-top: 19px;
}
.start{
    color: #000;
    font-weight: bold;
    display: inline-block;
    float:left;
    font-size: 43px;
}

.title_left_bottom {
    font-size: 19px;
    font-weight: bold;
    position: relative;
    width: 500px;
    display: block;
    text-align: center;
}
.info {
    margin-left: 55px;
}
.info img{
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 5px;
}


.selects {
    width: 240px;
}
.textarea {
    height: 250px;
    width: 290px;
    background: #fff;
    overflow-y:scroll;
    border-bottom: 1px solid #e0e0e0;
    padding-left: 8px;
    font-size: 14px;
    text-shadow: 1px 0px 1px #ccc;
    border-top: 1px solid #a9a9a9;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px #999 inset;
    padding: 10px 0 10px 15px;
}
.textarea_dash {
    height: 270px;
    /*width: 430px;*/
    background: #fff;
    overflow-y:scroll;
    border-top: 1px solid #e0e0e0;
    font-size: 14px;
    padding: 5px 0 5px 5px;
}
.leftdash_txt {
    margin-right: 40px;
}
.textarea_suppl {
    height: 120px;
    width: 100%;
    background: #ffffcd;
    overflow-y:scroll;
    font-size: 14px;
}
.table_top {
    height: 219px;
    width: 100%;
    background: #f5f5f5;
    overflow-y:scroll;
    font-size: 14px;
}
.last_reconcl {
    padding: 10px;
}
.table_width {
    height: 145px;
    width: 100%;
    background: #ffffcd;
    overflow-y:scroll;
    font-size: 14px;
}
.textarea_summ {
    height: 340px;
    background: #fff;
    overflow-y:scroll;
    border-bottom: 1px solid #e0e0e0;
    font-size: 14px;
    text-shadow: 1px 0px 1px #ccc;
    border-top: 1px solid #a9a9a9;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px #999 inset;
    padding: 15px;
    margin: 20px;
}
.task_table {
    margin-top: 85px;
}
.textarea_summ .right{
    margin-right: 50px;
}
.members {
    margin-bottom: 25px;
}
.member {
    margin-bottom: 18px;
    font-size: 20px;
}
.editdel {
    margin-top: 10px;
}

.left_names {
    width: 100px;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 13px;
    margin-right: 10px;
}
.details_text    {
    margin-bottom: 15px;
}
/*    /start up wizard*/


.content{
    background: url("../img/content_bkg.png") no-repeat scroll 0 0 transparent;
    margin: 0 auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.content .title_form  {
    color: #fff;
    width: 100%;
    font-weight: bold;
    z-index: 2;
    overflow: hidden;
    text-align: center;
}

.tittle{
    display: block;
    width: 200px;
    padding-top: 12px;
    text-shadow: 2px 0 1px #000000;
    margin: 0 auto;
}
.results {
    padding-top: 40px;
    padding-bottom: 25px;
    margin: 0 auto;
}
.logo_sm {
    background: url("../img/logo_sm.png") left no-repeat;
    height: 35px;
    width: 65px;
    float: left;
    margin-left: 10px;
    margin-top: 5px;
}
.results_cont {
    background: #1e2838 url("../img/bckgr_bott.png") bottom repeat-x;
    overflow: hidden;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.result_right{
    float: left;
    padding-left: 25px;
    padding-right: 15px;
    background: #fff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 613px;
}
.result_right_exp{
    float: left;
    padding-left: 35px;
    padding-right: 15px;
    background: #fff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 613px;
}

.result_left{
    float: left;
    margin-left: 10px;
    height: 615px;
}
.radius_l {
    background: #f8f8f8;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.diagramm {
    padding: 20px 10px 10px 10px;
    display: block;
    width: 233px;
    height: 233px;
}
.video_youtube .banner {
    padding-top: 10px;
}
.banner {
    padding: 0 10px 10px 10px;
    display: block;
}
.button_low{
    display: block;
    text-align: center;
    line-height: 39px;
    height: 39px;
    border: 1px solid #8abe07;
    cursor: pointer;
    width: 310px;
}
.fin .button_next {
    margin-right: 0px;
}

.fright {
    float: right;
}
.center {
    text-align: center;
}
.full_center {
    vertical-align: middle;
    text-align: center;
    padding: 26% 1%;
    font-size: 30px;
    font-weight: bold;
}

.inline {
    display: inline-block;
}

.summ {
    margin-bottom: 15px;
}
.summ p{
    margin-top: 20px;
    margin-bottom: 15px;
}
.clear {
    /*clear: both;*/
    overflow: hidden;
}
.congratul {
    position: relative;
    top: -100px;
}
.congr {
      background: url("../img/congrat.png") no-repeat;
      height: 387px;
      width: 570px;
      margin-top: 100px;
  }

.congr .inputs {
    margin-top: 30px;
}
.save_budget {
    height: 55px!important;
    padding-top: 10px;
}
.save_budget a {
    color: #ffffff;
    text-decoration: none;
}
.result_columns {
    margin-top: 60px;
    height: 360px;
}
.columns {
    margin-left: 5px;
    width: 300px;
    display: inline-table;
}
.columns p {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}
.columns img {
    height: 300px;
}

#form_registration form .left_form .inputs input.input_field.invalid,
#form_registration form .right_form .inputs input.input_field.invalid
{
    border-color: red;
    box-shadow: 0 0 1px 1px red inset, 0 0 2px red;
    outline: 0 none;
}


.middle {
    vertical-align: middle;
}

 table.event td {
    padding: 8px 12px!important;
}

.green {
    color: #00d102;
}
.red {
    color: #ec0529;
}
.text-align-l {
    text-align: left;
    padding-left: 20px !important;
}

.blue_color {
    background-color: #ddf3ff;
}
.blue_color h1{
    font-size: 16px;
}

/* new design pages */

.income_pages h1 {
    color: #000;
    font-size: 28px;
}
.income_pages a{
   text-decoration: none;
    color: #000000;
}
.inc_btns_blck {
    margin-top: 10px;
}
.inc_head {
    width: 125px;
    height: 109px;
}
.blue_plus {
    width: 20px;
    height: 20px;
    margin-bottom: 3px;
}
.green_plus {
    width: 25PX;
    height: 26px;
}

.inc_check {
    margin-right: 15px;
    margin-top: 6px;
}
.inc_table {
    width: 100%;
    text-align: center;
    font-size: 14px;
    border-spacing: 0;
    margin-top: 20px;
}
.inc_table a{
    text-decoration: none;
    color: #000000;
}
.bordered_black_left {
    border: 1px solid #6a6a6a;
    border-right: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    height: 18px;
}

.bordered_black {
    height: 18px;
    border: 1px solid #6A6A6A;
    border-left: 0;
    border-right: 0;
    border-spacing: 0;
}

.greens {
    margin-top: 10px;
}

.bordered_black_right {
    border: 1px solid #6A6A6A;
    border-left: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    height: 18px;
}
.green_line {
    background-color: #5b9f01;
}
.green50_line {
    background-color: #cbe1b0;
}
.red50_line {
    background-color: #ffb1b8;
}

.inc_menu td{
    padding-bottom: 10px;
}
.inc_top {
    margin-top: 20px;
}
.left_inc {
    height: 618px;
}
.left_inc_annual {
    height: 745px;
}
.inc_right {
    width: 650px;
    height: 618px;
}
.inc_right_annual {
    width: 650px;
    height: 745px;
}

.income_pages .tabs-left > .nav-tabs > li, .tabs-right > .nav-tabs > li {
    float: left;
}
.income_pages .tabs-left > .nav-tabs{
    float: none;
}

.income_pages .dataTables_wrapper{
   min-height: 100px;
}
.income_pages .tab-content{
   border:none;
    overflow: visible;
}
.income_pages .selectbox .select{
   width: 75px;
}

.income_pages .dataTables_wrapper,
.income_pages table.display td,
.income_pages table.display thead th {
  border: none;
}
.income_pages table.display thead th {
  font-size: 14px;
    font-weight: bold;
}
.income_pages table.display td.center{
  /*text-align: left;*/
}
.scroll_table {
    /*overflow-y: scroll;*/
    overflow: auto;
    height: 310px;
}
.annual_scroll {
    /*overflow-y: scroll;*/
    height: 440px;
}
.scroll_birth {
    overflow: auto;
    height: 317px;
}
.scroll_birth .clear{
    overflow: hidden;
}
.holiday_scroll {
    /*overflow-y: scroll;*/
    height: 310px;
}
.leftside_scroll {
    overflow: auto;
    height: 280px;
    margin-bottom: 8px;
}
.income_scroll {
    overflow: auto;
    height: 175px;
    margin-bottom: 8px;
}
.scroll_holiday {
    overflow: auto;
    height: 185px;
    margin-bottom: 8px;
}
.scroll_biread {
    overflow: auto;
    height: 310px;
    margin-bottom: 8px;
}
.trans_scroll {
    overflow: auto;
    height: 170px;
    margin-bottom: 8px;
}
.inc_datat img {
    margin-right: 5px;
}
.inc_datat .event .input_table {
    width: 100%!important;
}

.income_pages .input_table_sum {
    width: 45px;
    text-align: center;
    font-size: 12px;
    padding: 3px;
    border-radius: 6px;
    font-style: italic;
    box-shadow: 0 0 1px 1px #9b9b9b inset, 0 0 2px #9b9b9b;
}
.income_pages .input_dest {
    width: 85px;
    font-size: 12px;
    padding: 3px;
    border-radius: 6px;
    font-style: italic;
    box-shadow: 0 0 1px 1px #9b9b9b inset, 0 0 2px #9b9b9b;
}
.fin_sum {
    width: 40px;
    font-size: 12px;
    padding: 3px;
    border-radius: 6px;
    font-style: italic;
    box-shadow: 0 0 1px 1px #9b9b9b inset, 0 0 2px #9b9b9b;
}
.income_pages .input_table {
    width: 30px;
    text-align: center;
    font-size: 12px;
    padding: 3px;
    border-radius: 6px;
    font-style: italic;
    box-shadow: 0 0 1px 1px #9b9b9b inset, 0 0 2px #9b9b9b;
}
.fin_payment {
    width: 100px;
    font-size: 12px;
    padding: 3px;
    border-radius: 6px;
    font-style: italic;
    box-shadow: 0 0 1px 1px #9b9b9b inset, 0 0 2px #9b9b9b;
}
.perc_payment {
    width: 30px;
    font-size: 12px;
    padding: 3px;
    border-radius: 6px;
    font-style: italic;
    box-shadow: 0 0 1px 1px #9b9b9b inset, 0 0 2px #9b9b9b;
}
#income_select .selectbox .select {
    width: 70px;
}
.fin_items {
    font-size: 12px;
    width: 120px;
}
#income_select table.event td{
  padding: 2px!important;
}
.income_pages table.event td {
    padding: 4px 3px!important;
}
.income_pages .input_norm {
    height: 23px;
    font-size: 12px;
}
.income_pages .date {
   margin-right: 1px;
}

.takehome {
    width: 175px;
    font-size: 14px;
}
.bott_butts {
    margin-top: 30px;
}

.btn_action{
    margin-right: 10px;
}

.bold_names a {
    font-weight: bold;
}

.add_another {
    font-size: 13px;
    margin-left: 10px;
}
.income_pages .tab-content {
    overflow: auto;
    background: #fff;
}

.instr_video {
    margin-top: 70px;
    margin-left: 20px;
}
.instr_video .butt_add{
    width: auto;
    padding: 0 25px;
}
.annual_video .butt_add{
    width: auto;
    padding: 0 25px;
    margin-top: 5px;
    margin-left: 10px;
}
.second_sub {
    margin-left: 20px;
}
#members .plus_member {
    margin: 0;
    padding: 4px 10px;
}
.budget_name {
    text-align: center;
    background: #00a100;
    color: white;
    padding: 6px 0;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    margin: 5px 0;
}
.budget_annual {
    margin-top: 10px;
}
.dates_annual {
    width: 300px;
    display: inline-block;
}
.budget_none {
    display: none;
}
.expend {
    font-size: 14px;
}

.offs_costs {
    margin-top: 20px;
}
.offs_costs p{
    margin-bottom: 20px;
}

.app_scroll {
    height: 240px;
    overflow-y: scroll;
}
.app_scroll p {
    margin-bottom: 20px;
}
.tr_head {
    text-align: center;
    font-weight: bold;
}
/*  /new design pages */

/*buttons & input*/
 .butt_green {
     background-color: #029b0d;
     background-image: -moz-linear-gradient(top, #7cbe80, #029b0d);
     background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7cbe80), to(#029b0d));
     background-image: -webkit-linear-gradient(top, #7cbe80, #029b0d);
     background-image: -o-linear-gradient(top, #7cbe80, #029b0d);
     background-image: linear-gradient(to bottom, #7cbe80, #029b0d);
     height: 44px;
     color: #fff;
     font-weight: bold;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
     font-size: 20px;
     padding-bottom: 2px;
     border-left: 1px solid #5E5E5E;
     border-right: 1px solid #5E5E5E;
     border-bottom: 1px solid #5E5E5E;
     cursor: pointer;
     margin-top: 5px;
 }

.inputs .button_inp{
    width: 290px;
}

.inputs .button_inp.active,
.inputs .button_inp:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.butt_add {
    width: 335px;
    margin-top: 5px;
}

.butt_done {
    width: 220px;
    height: 44px;
    color: #fff;
    padding-bottom: 2px;
    margin-top: 15px;
}

.butt_done:active,
.butt_add:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

 .button_inp_terms{
    background-color: #5b80ab;
    background-image: -moz-linear-gradient(top, #9aafca, #5b80ab);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9aafca), to(#5b80ab));
    background-image: -webkit-linear-gradient(top, #9aafca, #5b80ab);
    background-image: -o-linear-gradient(top, #9aafca, #5b80ab);
    background-image: linear-gradient(to bottom, #9aafca, #5b80ab);

    width: 290px;
    height: 31px;
    color: #fff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    font-size: 12px;
    padding-bottom: 2px;
    border-left: 1px solid #5E5E5E;
    border-right: 1px solid #5E5E5E;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 3px;
}

 .button_inp_terms:active {
     background-image: none;
     outline: 0;
     -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}


.delete {
    background-color: #ce0000;
    background-image: -moz-linear-gradient(top, #fc6060, #ce0000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fc6060), to(#ce0000));
    background-image: -webkit-linear-gradient(top, #fc6060, #ce0000);
    background-image: -o-linear-gradient(top, #fc6060, #ce0000);
    background-image: linear-gradient(to bottom, #fc6060, #ce0000);
}

.edit {
    background-color: #5b80ab;
    background-image: -moz-linear-gradient(top, #9aafca, #5b80ab);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9aafca), to(#5b80ab));
    background-image: -webkit-linear-gradient(top, #9aafca, #5b80ab);
    background-image: -o-linear-gradient(top, #9aafca, #5b80ab);
    background-image: linear-gradient(to bottom, #9aafca, #5b80ab);
}

.summ_right .blue_btn, .summ_right .green_btn {
    width: 215px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 1px 2px 4px rgba(50, 50, 50, 0.53);
    -moz-box-shadow:    1px 2px 4px rgba(50, 50, 50, 0.53);
    box-shadow:         1px 2px 4px rgba(50, 50, 50, 0.53);
}

.butt {
    color: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-size: 12px;
    cursor: pointer;
    padding: 5px 9px 5px 9px;
    text-decoration: none;
    border: 1px solid #727272;
}
.butt:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}


.button_next{
    text-align: center;
    line-height: 24px;
    padding: 0 15px;
    margin-bottom: 12px;
    height: 24px;
    border: 1px solid #8abe07;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    background-color: #c3e037;
    *background-color: #98c22d;
    background-image: -moz-linear-gradient(top, #c3e037, #98c22d);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c3e037), to(#98c22d));
    background-image: -webkit-linear-gradient(top, #c3e037, #98c22d);
    background-image: -o-linear-gradient(top, #c3e037, #98c22d);
    background-image: linear-gradient(to bottom, #c3e037, #98c22d);
    background-repeat: repeat-x;
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
}
.button_save{
    float: right;
    margin: 14px 35px 12px 0;
}
.button_sm{
    display: block;
    text-align: center;
    line-height: 39px;
    height: 34px;
    border: 1px solid #8abe07;
    cursor: pointer;
    width: 155px;
}
.result {
    /*color: #fff;*/
    font-size: 20px;
    font-weight: bold;

    background-color: #649805;
    *background-color: #649805;
    background-image: -moz-linear-gradient(top, #acce08, #649805);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#acce08), to(#649805));
    background-image: -webkit-linear-gradient(top, #acce08, #649805);
    background-image: -o-linear-gradient(top, #acce08, #649805);
    background-image: linear-gradient(to bottom, #acce08, #649805);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: #e6e6e6;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.result_sm {
    background: url("../img/button_result.png") repeat-x scroll 0 0 transparent;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    padding-top: 5px;
    color: #000;
}
.option {
    background: url("../img/button_option.png") repeat-x scroll 0 0 transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}
.income {
    background: url("../img/button_option.png") repeat-x scroll 0 0 transparent;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    padding-top: 5px;
    color: #000;
}
.button_top {
    margin-top: 30px;
    margin-bottom: 13px;
}

.sub{
    text-align: left;
    padding: 6px 10px;
    margin-left: 10px;
    margin-bottom: 6px;
    border: 1px solid #bdc2c2;
    cursor: pointer;
    width: 160px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /*background: url("../img/inc_btn.png");*/
    color: #ffffff;
    font-size: 12px;
    font-weight:bold;
    cursor: pointer;
    background-color: #c2100d;
    *background-color: #c2100d;
    background-image: -moz-linear-gradient(top, #fb1801, #c2100d);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fb1801), to(#c2100d));
    background-image: -webkit-linear-gradient(top, #fb1801, #c2100d);
    background-image: -o-linear-gradient(top, #fb1801, #c2100d);
    background-image: linear-gradient(to bottom, #fb1801, #c2100d);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.annual_btns .sub{
    margin-bottom: 2px;
}
.sub:hover{
    opacity: 0.90;
}
.sub:active, .reg:active{
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.active_btn {
    color: #ffffff;
    background-color: #edd64d;
    *background-color: #fdbe0c;
    background-image: -moz-linear-gradient(top, #edd64d, #fdbe0c);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#edd64d), to(#fdbe0c));
    background-image: -webkit-linear-gradient(top, #edd64d, #fdbe0c);
    background-image: -o-linear-gradient(top, #edd64d, #fdbe0c);
    background-image: linear-gradient(to bottom, #edd64d, #fdbe0c);
    background-repeat: repeat-x;
}
.done_btn {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #008d00;
    *background-color: #008903;
    background-image: -moz-linear-gradient(top, #008d00, #008903);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#edd64d), to(#fdbe0c));
    background-image: -webkit-linear-gradient(top, #008d00, #008903);
    background-image: -o-linear-gradient(top, #008d00, #008903);
    background-image: linear-gradient(to bottom, #008d00, #008903);
    background-repeat: repeat-x;
}

.exit_btn {
  border: none;
  text-decoration: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.reg{
    text-align: center;
    margin-bottom: 6px;
    cursor: pointer;
    width: 290px;
    margin-top: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
    font-weight:bold;
    cursor: pointer;

    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #019c09;
    *background-color: #019c09;
    background-image: -moz-linear-gradient(top,  #78be80, #019c09);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#78be80), to(#019c09));
    background-image: -webkit-linear-gradient(top, #78be80, #019c09);
    background-image: -o-linear-gradient(top, #78be80, #019c09);
    background-image: linear-gradient(to bottom, #78be80, #019c09);
    background-repeat: repeat-x;

    border: 1px solid #cccccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}
/*  /buttons*/


/* tabs, navs & table*/

.table {
    width: 100%;
    border-spacing: 0;
    font-size: 12px;
}

.bs-docs-example {
    margin-bottom: 5px;
    overflow: hidden;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.nav-tabs, .nav-pills {
}
.nav {
    margin-left: 0;
    list-style: none;
    overflow: hidden;
}

.nav-tabs > li {
    margin-bottom: -1px;
}
.nav-tabs > li, .nav-pills > li {
    float: left;
}

.nav-tabs > li > a {
    padding-top: 10px;
    padding-bottom: 9px;
    line-height: 20px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a, .nav-pills > li > a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
}
.nav > li > a {
    display: block;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: #555555;
    cursor: default;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.tab-content {
    overflow: auto;
    background: #f5f5f5;
}
.tab-content > .tab-pane, .pill-content > .pill-pane {
    display: none;
}

.tab-content > .active, .pill-content > .active {
    display: block;
}

.fade.in {
    opacity: 1;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.tabs-left > .nav-tabs {
    float: left;
}
.tabs-below > .nav-tabs, .tabs-right > .nav-tabs, .tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tabs-left > .nav-tabs > li, .tabs-right > .nav-tabs > li {
    float: none;
}
.nav-tabs > li {
    margin-bottom: -1px;
}
.nav-tabs > li, .nav-pills > li {
    float: left;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius:  4px;
    border-radius: 4px;
}
.tabs-left > .nav-tabs > li > a, .tabs-right > .nav-tabs > li > a {
    margin-right: 0;
    margin-bottom: 3px;
    background-color: #ffffff;
}

.tabs-left > .nav-tabs .active > a, .tabs-left > .nav-tabs .active > a:hover, .tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    background-color: #56cb00;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: #555555;
    cursor: default;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.tab-content {
    border: 1px solid #9f9f9f;
}
.overlay_provide {
    height: 218px;
    padding: 20px;
    overflow-y:scroll;
}
/* tabs & table*/


/*checkbox*/

/*.check input[type=checkbox].css-checkbox { display:none; }*/

/*.check input[type=checkbox].css-checkbox + label.css-label {*/
    /*padding-left:32px; height:32px;*/
    /*display:inline-block; line-height:32px;*/
    /*background-repeat:no-repeat; background-position: 0 0;*/
    /*font-size:32px; vertical-align:middle; cursor:pointer;*/
    /*margin-bottom: 5px;*/
/*}*/
/*.check input[type=checkbox].css-checkbox:checked + label.css-label {*/
    /*background-position: -32px 0px; }*/

/*.check  .css-label{ background-image:url(../img/checkbxx.png); }*/

/*.check a{*/
    /*color: #2dc1fd;*/
    /*line-height: 12px;*/
/*}*/

.textarea_compare .green_btn_big {
    width: 160px;
    margin: 10px;
    padding: 13px;
}

.agreament {
    width: 305px;
    margin-top: 40px;
}

/*  /checkbox*/


/*login page*/
.login_page {
    /*width: 560px;*/
    padding: 0;
    margin-top: 70px;
    margin-bottom: 120px;
}
.logo {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.inputs_reg {
    border: 1px solid #d4d4d4;
    padding-left: 8px;
    font-size: 14px;
    text-shadow: 1px 0px 1px #ccc;
    width: 220px;
    height: 20px;
    line-height: 20px;
    box-shadow: 0px 1px 1px #999 inset;
    -webkit-transition: border linear 0.3s, box-shadow linear 0.3s;
    -moz-transition: border linear 0.3s, box-shadow linear 0.3s;
    -o-transition: border linear 0.3s, box-shadow linear 0.3s;
    transition: border linear 0.3s, box-shadow linear 0.3s;
}
.label {
    display: block;
    font-size: 0.8em;
}
.login_form {
    width: 250px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.names {
    margin-top: 40px;
}
.names .label{
    margin-bottom: 6px;
}
.forgot {
    width: 510px;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
}
.register {
    width: 230px;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
}
.forgot a{
    text-decoration: none;
    color: #fff;
    font-size: 0.8em;
    opacity: 1;
}
.register a{
    text-decoration: none;
    color: #ffffff;
    opacity: 1;
}

.reg_forg {
    display: inline-block;
    text-align: center;
    width: 160px;
    margin: 0;
}
.reg_login {
    display: inline-block;
    text-align: center;
    width: 230px;
    margin: 40px 0 0 0;
}

.register a:hover{
    opacity: 0.9;
}

.forg_uname {
    float: left;
}
.forg_pass {
    float: right;
}
.social {
    width: 210px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.icons {
    margin-left: 20px;
}
/*login page*/


/*dashboard*/

.back {
    float: left;
    padding: 6px;
}
.video_lib {
    padding: 12px 0;
    display: inline-block;
}
.video_page {
    float: right;
    width: 711px;
    /*margin-right: 29px;*/
    /*margin-bottom: 65px;*/
}
.left_video {
    float: left;
    width: 235px;
    /*margin-left: 40px;*/
}
.diagr_video {
    margin-bottom: 20px;
}
.app {
    margin-right: 10px;
}
.tesco {
    margin-top: 26px;
}
.video_lib {
    padding: 12px 0;
    display: inline-block;
}
.back {
    float: left;
    padding: 6px;
}
.dash {
    float: right;
    padding: 6px;
}
.bckgr {
    background: #1e2838 url("../img/bckgr_bott.png") bottom repeat-x;
}
.bckgr_full {
    background: #1e2838 url("../img/bckgr_bott.png") bottom repeat-x;
    padding-bottom: 50px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    overflow: hidden;
}


.video_content {
    background: #fff;
    -webkit-box-shadow: inset 0 8px 6px -6px black;
    -moz-box-shadow: inset 0 8px 6px -6px black;
    box-shadow: inset 0 8px 6px -6px black;
    margin: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 10px 20px;
}
.dash_content {
    background: #fff;
    -webkit-box-shadow: inset 0 8px 6px -6px black;
    -moz-box-shadow: inset 0 8px 6px -6px black;
    box-shadow: inset 0 8px 6px -6px black;
    margin: 0 10px 10px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 10px 20px;
    overflow: hidden;

    height: 560px;
}
.fin_content {
    background: #fff;
    -webkit-box-shadow: inset 0 8px 6px -6px #4D4D4D;
    -moz-box-shadow: inset 0 8px 6px -6px #4D4D4D;
    box-shadow: inset 0 8px 6px -6px #4D4D4D;
    margin: 0 10px 10px 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 20px 20px;
    overflow: hidden;
}
.dashboard .icon {
    vertical-align: top;
}
.icon {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}
.icon a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
.menu select {
    float: left;
    margin-top: 20px;
}
.lock {
    margin-top: 35px;
}
.lock img{
    margin-right: 10px;
}
.menu .search {
    margin-top: 20px;
}
.menu img {
    padding-bottom: 5px;
}
.search {
    width: 130px;
    height: 20px;
    border: 1px solid #b5b5b5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 14px;
    vertical-align: middle;
    padding: 9px 5px;
    background: url("../img/search.png") no-repeat 98%;
    color: #000;

    box-shadow: 0px 1px 1px #999 inset;
    -webkit-transition: border linear 0.3s, box-shadow linear 0.3s;
    -moz-transition: border linear 0.3s, box-shadow linear 0.3s;
    -o-transition: border linear 0.3s, box-shadow linear 0.3s;
    transition: border linear 0.3s, box-shadow linear 0.3s;
}


.search:focus {
    border-color: #B3B7B6;
    box-shadow: 0 0 1px 1px #718808 inset, 0 0 2px #B3B7B6;
    outline: 0 none;
}
.menu {
    padding-bottom: 13px;
    text-align: left;
}
.library {
    padding-bottom: 30px;
}
.library p{
    font-size: 14px;
    margin-right: 120px;
}
.line {
    border-bottom: 1px solid #999999;
}
.line .selectbox{
    top:20px
}
.videos {
    height: 235px;
    margin-top: 10px;
    overflow-y: scroll;
}
.videos img{
    margin-right: 6px;
    margin-bottom: 6px;
}
.banner_video {
    margin-top: 10px;
}
.nobold {
    font-weight: normal;
}

.dashb_titl   {
    padding-bottom: 10px;
    width: 970px;
}
.dashb   {
    padding-bottom: 10px;
    width: 970px;
}
.info_table {
    overflow: hidden;
    font-size: 12px;
}
.dash_limit {
    height: 370px;
}
.info_table a{
    text-decoration: none;
    color: #000;
}
.info .checkbox {
    height: 18px;
    display: inline-block;
}
.border_bott {
    border-bottom: 1px solid #adadad;
    overflow: hidden;
}
.tabl {
    display: block;
    float: left;
    width: 30%;
    border-right: 1px solid #adadad;
    padding-left: 10px;
    padding-bottom: 3px;
    font-size: 14px;
}
.tabl_qest {
    width: 230px;
}
.table .tabl {
    height: 270px;
}
.table textarea {
    border: 1px solid #adadad;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: inset 1px 8px 6px -6px #CAA3A3;
    -moz-box-shadow: inset 1px 8px 6px -6px #CAA3A3;
    box-shadow: inset 1px 8px 6px -6px #CAA3A3;
}
.tabl:first-child{
    padding-left: 0;
}
.tabl:last-child{
    border-right: none;
}
.tabl p {
    padding: 8px 0;
}
.tabl  .button_next {
    margin-top: 10px;
}
.dashboard {
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
    margin-top: 15px;
}

.dash_content .selectbox .select {
    width: 110px;
    text-align: left;
}
.dash_content .selectbox  {
    vertical-align: top;
}

.underline {
    text-decoration: underline;
}


.table_dash tr.liner {
    border-bottom: 1px solid #241111;
}
table.table_dash  {
    border-collapse: collapse;
    border-spacing: 0;
}

.dash_left {
    float: left;
    border-right: 1px solid #cecece;
    padding-right: 20px;
}
.dash_left img{
    display: block;
    text-align: center;
}
.dash_right {
    float: right;
}
.dash_right td{
    vertical-align: middle;
}
.dash_pie {
    text-align: center;
}
.table_dash tr {
    padding: 5px;
}
.table_dash td {
    padding: 4px;
}
.table_dash tr:hover {
    background: #000;
}

.table_link {
    display: block;
}

.item_budget {
    display: inline-block;
    width: 100px;
}
.item_budget_r {
    display: inline-block;
    width: 125px;
}
.item_hover {
    padding: 6px 4px;
    width: 142px;
    display: inline-block;
    margin-right: 5px;
}
.item_right {
    padding: 6px 4px;
    font-size: 12px;
    width: 160px;
    display: inline-block;
    margin-right: 5px;
}
.item_line {
    font-size: 12px;
}
.item_hover:hover,
.item_right:hover {
    background: #c0ebc0;
}

.b_b {
    border-bottom: 1px solid #bfbfbf;
}

.gradeC td:first-child {
    width: 10px;
}

.show_email {
    display: none;
}

.show_email .input_field {
    display: block;
    width: 172px;
    margin-top: 10px;
}
.show_email .reg_forg {
    margin-top: 10px;
}

.piechart {
    height: 300px;
}

.nopadd {
    padding: 0;
}

.subscr {
    padding-top: 5px;
}

.subscr_left {
    width: 100px;
}
.subscr_left img{
    padding: 4px 0;
}

.discont {
    width: 520px;
}
.discont table td{
    padding: 2px 10px;
}

.text_subscr {
    font-size: 15px;
}
.discont_backgr {
    background: #f0f4ff;
    text-align: center;
}
 .percent{
    font-size: 40px;
    font-weight: bold;
}
.disc {
   font-weight: bold;
    font-size: 14px;
}

.inc_exp .inline{
    width: 130px;
}
/*dashboard*/