<script type="text/template" id="income-row">
        <td class="center">
            <input data-bind="checked : active" type="checkbox" class="styled">
        </td>
        <td class="center">
            <select data-bind="optionsCaption: 'Choose...' , options:$parent.incomeTypes, optionsText : 'name', optionsValue: 'id', value : incomeType.id "></select>
        </td>
        <td class="center" >
            <input size="30" maxlength="30" data-bind="value : incomeSource" type="text" class="input_table" placeholder="Type here...">
        </td>
        <td class="center">
            <select data-bind="optionsCaption: 'Choose...',  options:$parent.members, optionsText : 'firstName', optionsValue: 'id', value : member ? member.id : ''"></select>
        </td>
        <td class="center" >
              <select data-bind="optionsCaption: 'Choose...',  options:$parent.frequencyList, value : frequency"></select>
        </td>
        <td class="center" >
            <input  size="9" maxlength="9" data-bind="value : amount" type="text" class="input_table" placeholder="Type here...">
        </td>
        <td class="selectRigth width160">
            <select data-bind="optionsCaption: 'Choose...' ,  options:$parent.bankAccounts, optionsText : 'name', optionsValue: 'id', value : bankAccount.id"></select>
        </td>
       <td class="center" data-bind="text : question">          
        </td>
        <td class="center" >
            <a href='#' data-bind="click : $parent.delete">delete</a>
        </td>
</script>


<div class="income_bckgr">
    <div class="income_top">
        <span class="image"></span>
        <div class="inline title_text">
            <p class="title">Start Up Wizard</p>
            <p class="under_title">Income</p>
        </div>
    </div>
    <div class="inputs button fright">
        <input type="submit" class="button_inp" value="Add another income type" data-bind="click : add" />
    </div>
</div>
<div style="width: 900px" class="fixHeight">
<table cellpadding="0" cellspacing="0" border="0" class="display" id="example" width="100%"
data-bind="dataTable: { 
      instance :  oTable,
      options : {
         sScrollY: '271px',
         bPaginate: true,
         bProcessing: true,
         bInfo : false,
         bServerSide: true,
         bLengthChange  : false,
         bScrollCollapse: false,
         sAjaxSource : '/income/listIncome' ,
         aoColumns : columns,
         buildRow : buildRow,
         rowTemplate : 'income-row'
        }
    }">
</table>
</div>